<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>716508889568-0nto7ee674ver17pb7lp24g9rlmo5fc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716508889568-0nto7ee674ver17pb7lp24g9rlmo5fc5</string>
	<key>API_KEY</key>
	<string>AIzaSyDCj5NG42z-8RnoC_JpKrrW-Zd5kpyp5Z4</string>
	<key>GCM_SENDER_ID</key>
	<string>716508889568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>life.coder.FireChat</string>
	<key>PROJECT_ID</key>
	<string>coderlife-firechat</string>
	<key>STORAGE_BUCKET</key>
	<string>coderlife-firechat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716508889568:ios:c07fdbb02e92027a</string>
	<key>DATABASE_URL</key>
	<string>https://coderlife-firechat.firebaseio.com</string>
</dict>
</plist>